<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "fragments/head.html" %}
        <title>Lucy Gestão Pessoal</title>
    </head>

    <body>
        <div class="page">
            {% include "fragments/menu.html" %}

            <div class="content">
                <div class="container">

                    Página de registro de movimentações

                </div>
            </div>

            {% include "fragments/footer.html" %}
        </div>
    </body>

    <script></script>

</html>