<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "fragments/head.html" %}
        <title>Lucy Gestão Pessoal</title>
        <script src="/static/js/home.js"></script>
    </head>

    <body>
        <div class="page">
            {% include "fragments/menu.html" %}

            <div class="content">
                <div class="container">

                    <div class="wallet-title">
                        <h3>Suas carteiras</h3>
                        <div class="button" onclick="openModal()">
                            <span class="material-symbols-outlined">library_add</span>
                            <span class="label">Nova</span>
                        </div>
                    </div>

                    <div id="wallet-area"></div>

                </div>
            </div>

            {% include "fragments/footer.html" %}

            <div class="modal" tabindex="-1" role="dialog" id="new-wallet">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Nova Carteira</h5>
                            <span class="material-symbols-outlined" onclick="closeModal()">close</span>
                        </div>

                        <div class="modal-body">
                            <div class="modal-form-row">
                                <label>Nome da carteira</label>
                                <input id="new-wallet-name">
                            </div>

                            <div class="modal-form-button" onclick="submitWallet()">
                                <span>Salvar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

    <script>
        renderWallets();
    </script>

</html>