<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "fragments/head.html" %}
        <title>Lucy Gestão Pessoal</title>
    </head>

    <body>
        <div class="page">
            <div class="header">
                <div class="header-options">
                    <div class="header-button"><span>HOME</span></div>
                    <div class="header-button"><span>METAS</span></div>
                    <div class="header-button"><span>REGISTROS</span></div>
                </div>

                <div class="header-user">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span class="header-user-text">Bruno</span>
                </div>
            </div>

            <div class="content">
                aqui é o conteúdo da página
            </div>

            <div class="footer">
                <div class="footer-left">
                    <img src="/static/logo.png" />
                    <div>
                        <h3>Lucy Gestão Pessoal</h3>
                        <h4>Democratizando e empoderando as pessoas na condução da sua própria estratégia</h4>
                    </div>
                </div>

                <div class="footer-right">
                    <h4>Desenvolvido por Bruno de Lima Santos</h4>
                    <span>Todos os direitos reservados<br>Contato: bruno.19ls@gmail.com</span>
                </div>
            </div>
        </div>
    </body>

</html>