<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "fragments/head.html" %}
        <title>Lucy Gestão Pessoal</title>
        <script src="/static/js/login.js"></script>
    </head>

    <body>
        <div class="page">
            {% include "fragments/menu.html" %}

            <div class="content login-content">

                <div class="login-box" id="login">
                    <h2>Lucy</h2>
                    <input type="email" id="email" placeholder="Seu e-mail">
                    <input type="password" id="password" placeholder="Sua senha">
                    <div class="login-button" onclick="login()">
                        <span>Acessar</span>
                    </div>
                    <div class="login-options">
                        <span onclick="show('subscribe')">Criar conta</span>
                        <span onclick="show('recover')">Esqueci a senha</span>
                    </div>
                </div>

                <div class="login-box hide" id="recover">
                    <h2>Recuperação</h2>
                    <input type="email" id="email-recover" placeholder="Seu e-mail">
                    <div class="login-button" onclick="recover()">
                        <span>Solicitar</span>
                    </div>
                    <div class="login-options">
                        <span onclick="show('login')">Login</span>
                        <span onclick="show('subscribe')">Criar conta</span>
                    </div>
                </div>

                <div class="login-box hide" id="subscribe">
                    <h2>Cadastro</h2>
                    <input type="email" id="email-subscribe" placeholder="Informe um e-mail">
                    <input type="text" id="name-subscribe" placeholder="Qual o seu nome?">
                    <input type="password" id="password-subscribe" placeholder="Crie sua senha">
                    <input type="password" id="password-subscribe2" placeholder="Repita a senha">
                    <div class="login-button" onclick="subscribe()">
                        <span>Cadastrar</span>
                    </div>
                    <div class="login-options">
                        <span onclick="show('login')">Login</span>
                        <span onclick="show('recover')">Esqueci a senha</span>
                    </div>
                </div>

            </div>

            {% include "fragments/footer.html" %}
        </div>
    </body>

    <script></script>

</html>