<div class="header">
    <div class="header-options">
        <div class="header-button">
            <a href="/">HOME</a>
        </div>
        <div class="header-button">
            <a href="/budget">METAS</a>
        </div>
        <div class="header-button">
            <a href="/transaction">REGISTROS</a>
        </div>
    </div>

    <div class="header-user">
        <span class="material-symbols-outlined">account_circle</span>
        <a class="header-user-text" href="/login" id="menu-login">Entrar</a>
    </div>
</div>

<script>
    (function execution() {
        const name = localStorage.getItem("name");
        if(name != null) {
            const loginDiv = document.getElementById("menu-login");
            loginDiv.textContent = name.split(" ")[0].trim();
            loginDiv.href = "#";
        }
    })();
</script>