* { margin: 0; padding: 0; outline: 0; box-sizing: border-box; }
body { font-family: 'Urbanist', sans-serif; }
.hide { display: none !important; }
.page { background-color: #599ff5; color: #454e58; }
.modal-header span { cursor: pointer; }

.error-content { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.error-content .title { font-size: 100px; font-weight: bold; }
.error-content .subtitle { font-size: 30px; }
.error-content .text { font-size: 20px; font-style: italic; }

.login-content { display: flex; justify-content: center; align-items: center; }
.login-content .login-box { background-color: #b3dafb; padding: 10px 40px; border-radius: 20px; display: flex; flex-direction: column; min-width: 30vw; min-height: 40vh; justify-content: space-between; }
.login-content .login-box h2 { font-size: 40px; text-align: center; }
.login-content .login-box input { border-radius: 5px; border: 0px; padding: 5px 10px; font-size: 18px; }
.login-content .login-box .login-button { background-color: #0f37bb; color: #fff; cursor: pointer; border-radius: 7px; display: flex; justify-content: center; align-items: center; padding: 5px 5px; font-size: 18px; transition: opacity 0.2s; }
.login-content .login-box .login-button:hover { opacity: 0.6; }
.login-content .login-box .login-options { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.login-content .login-box .login-options span { cursor: pointer; font-size: 15px; }
.login-content .login-box .login-options span:hover { text-decoration: underline; }

.header { min-height: 5vh; border-bottom: 1px solid rgba(255, 255, 255, 0.2); display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 10px 20px; }
.header .header-options { display: flex; flex-direction: row; align-items: center; }
.header .header-options .header-button { margin: 0px 20px; cursor: pointer; transition: opacity 0.2s; }
.header .header-options .header-button:hover { opacity: 0.6; }
.header .header-options .header-button a { color: inherit; text-decoration: none; }
.header .header-user { display: flex; flex-direction: row; align-items: center; }
.header .header-user a { color: inherit; text-decoration: none; }
.header .header-user .header-user-text { margin-left: 5px; }

.content { min-height: 85vh; padding: 20px 0px; }
.content .wallet-title { display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 30px; align-items: center; }
.content .wallet-title h3 { font-size: 35px; }
.content .wallet-title .button { display: flex; flex-direction: row; align-items: center; cursor: pointer; transition: opacity 0.2x; }
.content .wallet-title .button:hover { opacity: 0.6; }
.content .wallet-title .button .label { font-size: 20px; margin-left: 5px; }
.content .wallet-card { background-color: #f3f3f5; border-radius: 10px; padding: 20px; box-shadow: 5px 5px 8px #8d8a9b; margin-bottom: 30px; }
.content .wallet-card h4 { margin-bottom: 20px; font-size: 27px; }
.content .wallet-card .sep { border-bottom: 1px solid #fff; }
.content .wallet-card .wallet-row { display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 10px; }
.content .wallet-card .wallet-row span { font-size: 18px; }
.content .wallet-card .wallet-row .value { color: #89c2b8; }

.content .budget-title { display: flex; flex-direction: column; justify-content: center; margin-bottom: 30px; }
.content .budget-title h3 { font-size: 35px; }
.content .budget-row { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.content .budget-row .budget-select select { padding: 3px 15px; border-radius: 3px; color: #454e58; font-size: 17px; }
.content .budget-row .button { display: flex; flex-direction: row; align-items: center; cursor: pointer; transition: opacity 0.2x; }
.content .budget-row .button:hover { opacity: 0.6; }
.content .budget-row .button .label { font-size: 20px; margin-left: 5px; }
.content .budget-table-title { border-bottom: 1px solid #454e580d; margin-bottom: 20px; }
.content .budget-table-title h5 { font-weight: bold; }
.content .budget-row .actions { display: flex; flex-direction: row; justify-content: flex-end; align-items: center; }
.content .budget-row .actions span { margin-left: 7px; cursor: pointer; }
.content .budget-row h5 { font-size: 18px; }
.content .budget-row .warning { color: #bd1919; }

.content .transaction-title { display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 30px; align-items: center; }
.content .transaction-title h3 { font-size: 35px; }
.content .transaction-title .button { display: flex; flex-direction: row; align-items: center; cursor: pointer; transition: opacity 0.2x; }
.content .transaction-title .button:hover { opacity: 0.6; }
.content .transaction-title .button .label { font-size: 20px; margin-left: 5px; }
.content .transaction-row { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.content .transaction-row p { font-size: 18px; }
.content .transaction-row .buttons { display: flex; flex-direction: row; justify-content: flex-end; }
.content .transaction-row .buttons span { cursor: pointer; margin-left: 7px; }

.footer { background-color: #0e172f; color: #fff; min-height: 10vh; display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 10px 20px; }
.footer .footer-left img { width: 50px; height: 50px; }
.footer .footer-left { display: flex; flex-direction: row; }
.footer .footer-left h3 { font-size: 20px; }
.footer .footer-left h4 { font-size: 15px; }
.footer .footer-right { display: flex; flex-direction: column; align-items: flex-end; text-align: right; }
.footer .footer-right h4 { font-size: 18px; }
.footer .footer-right span { font-size: 12px; }

.modal-form-row { display: flex; flex-direction: column; justify-content: center; margin-bottom: 10px; }
.modal-form-row label { font-size: 18px; }
.modal-form-row input { width: 100%; padding: 2px 5px; border-radius: 5px; font-size: 18px; color: #454e58; border: solid 1px; }
.modal-form-row select { width: 100%; padding: 5px 7px; border-radius: 5px; color: #454e58; margin-bottom: 5px; font-size: 18px; }
.modal-form-button { margin-top: 20px; display: flex; justify-content: center; align-items: center; width: 100%; cursor: pointer; background-color: #2b2b4d; border-radius: 5px; transition: opacity 0.2s; padding: 3px; }
.modal-form-button:hover { opacity: 0.6; }
.modal-form-button span { color: #dae7ef; font-size: 20px; }
.modal-subtitle { display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 30px; margin-bottom: 10px; }
.modal-subtitle h5 { font-size: 19px; }
.modal-subtitle span { cursor: pointer; transition: opacity 0.2s; }
.modal-subtitle span:hover { opacity: 0.6; }
.modal-form-details { display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 10px; }
.modal-form-details input { padding: 2px 5px; border-radius: 5px; font-size: 16px; border: 1px solid #a9a9a9; color: #454e58; }
.modal-form-details span { cursor: pointer; transition: opacity 0.2s; }
.modal-form-details span:hover { opacity: 0.6; }


/* Resposividade */
@media only screen and (max-width: 600px) {
    .footer .footer-left img { width: 30px; height: 30px; }
    .footer .footer-left h3 { font-size: 15px; }
    .footer .footer-left h4 { font-size: 12px; }
    .footer .footer-right h4 { font-size: 12px; }
    .footer .footer-right span { font-size: 10px; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}